In [1]:
import pandas as pd

In [3]:
s1 = pd.Series(['이승현','임춘길','이시헌'])
s1[:1]
s1 == '이승현'

0     True
1    False
2    False
dtype: bool

In [4]:
pd.DataFrame([[10,20,30,40],['시헌','영희','은희','영희']])

    0   1   2   3
0  10  20  30  40
1  시헌  영희  은희  영희

In [5]:
df1 = pd.DataFrame([[1000,'과자','2019-01-05','반품'],
                    [2000,'음료','2020-02-02','정상'],
                    [2000,'아이스크림','2020-01-03','정상'],
                    [5000,'과자','2018-01-04','정상']],
                    columns=['가격','종류','판매일자','판매여부'])
df1

     가격     종류        판매일자 판매여부
0  1000     과자  2019-01-05   반품
1  2000     음료  2020-02-02   정상
2  2000  아이스크림  2020-01-03   정상
3  5000     과자  2018-01-04   정상