In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

#시계열분석(Time Series)
    1. 시간: 특정 간격 갖는 시간(Lag)
    2. 일변량 정상시계열
        - ARIMA
    3. Trend : 추세
    4. Seasonality : 계절성
    5. Cycle : 주기
    6. Noise : 잡음 -> White Noise

In [4]:
mpl.rc('font', family='AppleGothic')

In [5]:
df1 = pd.read_csv('./data/Data11.csv')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803675 entries, 0 to 803674
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구매일     803675 non-null  object
 1   구매금액    803675 non-null  int64
 2   물품대분류   803675 non-null  object
dtypes: int64(1), object(2)
memory usage: 18.4+ MB

In [7]:
df1.head()

          구매일   구매금액 물품대분류
0  2018-04-20  57120   기저귀
1  2018-04-20  15900  더블하트
2  2018-04-20   7000  더블하트
3  2018-04-20  20900  더블하트
4  2018-05-06  26500  더블하트

In [9]:
df1['Datetime'] = pd.to_datetime(df1['구매일'])

In [10]:
df1['Datetime'].describe()

/var/folders/56/wszr1nln1gzdbmsb0s5qd9480000gp/T/ipykernel_36003/3062964908.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df1['Datetime'].describe()

count                  803675
unique                    589
top       2019-10-11 00:00:00
freq                    10500
first     2018-04-20 00:00:00
last      2020-08-07 00:00:00
Name: Datetime, dtype: object

In [ ]:
df1['Year'] = df1['Datetime'].dt.date