In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

1. 점표 별 판매량의 추이를 그래프
2. 상품의 종류를 나누어 표현
3. 가장 많이 팔인 점포만 확인

In [23]:
mpl.rc('font', family='Malgun Gothic')

In [29]:
df1 = pd.read_csv('Data09.csv', encoding='cp949')
print(df1.shape)
df1.head(5)

(117, 646)

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1801828.0,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1801859.0,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,40786179.0,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [45]:
stack_data = df1.drop(columns=['순번','상품코드']).set_index('상품명').stack()
df2 = pd.DataFrame(stack_data).reset_index()

In [53]:
cond1 = df2['상품명'].isnull()
cond2 = df2['상품명'] == '합 계'
cond3 = df2['level_1'] == ' 합계'
df3 = df2.loc[~cond1 & ~cond2 & ~cond3]

In [56]:
df4 = df3.rename(columns={'level_1':'점포명',0:'판매량'})

In [74]:
def func1(row):
    if 'CAT' in row:
        return 'C TYPE'
    elif 'STL' in row:
        return 'S TYPE'
    elif 'B' in row:
        return 'B TYPE'
    else:
        return 'Non TYPE'

In [75]:
df4['상품명'].apply(func1)

1287     B TYPE
1288     B TYPE
1289     B TYPE
1290     B TYPE
1291     B TYPE
          ...
75226    C TYPE
75227    C TYPE
75228    C TYPE
75229    C TYPE
75230    C TYPE
Name: 상품명, Length: 73830, dtype: object