In [31]:
import pandas as pd

In [23]:
df1 = pd.read_csv('Data02.csv')
print(df1.shape)

(46749, 9)

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46749 entries, 0 to 46748
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   결제수단    46749 non-null  object
 1   배송번호    46749 non-null  object
 2   배송시작일   46749 non-null  object
 3   배송완료일   46749 non-null  object
 4   상품구매금액  46749 non-null  int64
 5   상품번호    46661 non-null  float64
 6   수량      46749 non-null  int64
 7   주문경로    46749 non-null  object
 8   주문일     46749 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [25]:
df1.head()

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231

In [8]:
df1['날짜_DATE'] = pd.to_datetime(df1['날짜'])

In [10]:
df1['연도'] = df1['날짜_DATE'].dt.year

In [28]:
df2 = df1

In [29]:
def date_func(x):
    return x[0:10]

In [33]:
df2['배송시작일_DT'] = pd.to_datetime(df2['배송시작일'].apply(date_func))
df2['배송완료일_DT'] = pd.to_datetime(df2['배송완료일'].apply(date_func))

In [34]:
df2['배송시간'] = df2['배송완료일_DT'] - df2['배송시작일_DT']

In [39]:
df2['배송시간'].describe()

count                        46749
mean     4 days 04:38:57.008278251
std      1 days 04:56:12.144368428
min                0 days 00:00:00
25%                4 days 00:00:00
50%                4 days 00:00:00
75%                4 days 00:00:00
max               47 days 00:00:00
Name: 배송시간, dtype: object

In [43]:
def date_func2(x):
    result  = str(x)
    return result[0:4] + '-' + result[4:6] + '-' + result[6:8]

In [44]:
df2['주문일'].apply(date_func2)

0        2018-12-27
1        2018-12-29
2        2018-12-30
3        2018-12-31
4        2018-12-31
            ...
46744    2017-12-29
46745    2017-12-29
46746    2017-12-30
46747    2017-12-31
46748    2017-12-31
Name: 주문일, Length: 46749, dtype: object